.app-container{
  height: 100vh;
}


.header-container{
  background-color:#4b4bdf;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
}
.header-title{
  color:#ffff;
  font-size: 20px;
}
.footer-container{
  background-color:#4b4bdf;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width:100%;
  bottom: 0;
  
}
.footer-title{
  color:#ffff;
  font-size: 20px;
  text-align: center;
}
.app-body-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}
@media screen and (max-width:768px) {
  .app-body-section{
    justify-content: center;
    padding: 20px;
  }
}
.user-details-container{
  display: flex;
  border:2px solid #4b4bdf;
  padding:20px;
  width:auto;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width:768px){
    .user-details-container{
      width: auto;
    }
}
.vertical-line{
  height:150px;
  border:1px solid #4b4bdf;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width:768px) {
  .vertical-line{
    height: 120px;
  }
}
.photo-container{
  background-color: #4b4bdf;
  border-radius:5px;
}

.photo-text{
  color:#ffff
}
.address{
  font-size: small;
}
.email{
  font-size: small;
}
.user-bio-container{
  width: 200px;
}